/* Use CSS files to compose custom CSS classes by combining Tailwind classes */

/* Adding Tailwind to CSS */
@import-normalize;
@tailwind base;
@tailwind components;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@layer components {

  /* Styling the sidebar icons */
  .sidebar-icon {
    /* Flexbox with centered items, 2 units of margin above and below, shadow and colours */
    /* Hover animation, linearly changes colour and border shape over 300ms */
    @apply relative flex items-center justify-center 
      h-16 w-16 mt-1 mb-1 mx-auto shadow-lg
      bg-vvsecondary-light dark:bg-vvprimary-blend 
      text-vvprimary-blend dark:text-gray-50
      hover:bg-vvprimary-blend dark:hover:bg-vvprimary-light
      hover:text-white dark:hover:text-vvsecondary-dark
      rounded-circular hover:rounded-3xl
      transition-all duration-300 ease-linear
      cursor-pointer;
  }

  /* Sidebar icons tooltip styling */
  /* Absolutely positioned with border radius and shadow, with 100ms appear/disappear animation */
  /* Starts off at scale 0, so completely hidden */
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-16 rounded-md shadow-md
    text-white dark:text-vvprimary-darkblend
    bg-vvprimary-darkblend dark:bg-white 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left 
    z-10; /* Ensure tooltip is always visible */
  }

  /* Divider */
  .sidebar-hr {
    @apply w-3/4 self-center mx-2 border-2 rounded-full
    bg-vvprimary-darkblend dark:bg-white
    border-vvprimary-darkblend dark:border-white;
  }

  /* Topbar with Title and Theme Switcher */
  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-gray-300 dark:bg-vvprimary-darkblend 
    bg-opacity-90 
    w-full h-topbar
    m-0 
    shadow-lg;
  }

  .top-navigation-icon {
    @apply mx-topbarIcon
    text-vvprimary-blend dark:text-white
    transition duration-300 ease-in-out 
    hover:text-pink-400 dark:hover:text-blue-400 
    cursor-pointer;
  }

  /* For leftmost icon, so it aligns to the right */
  .top-navigation-icon:first {
    @apply ml-auto;
  }

  /* Extra margin for rightmost icon */
  .user-icon {
    @apply mr-userIcon;
  }

  .title-text {
    @apply text-4xl px-5
    text-vvprimary-blend dark:text-gray-50
    tracking-wider font-semibold text-opacity-90
    mr-auto ml-2 my-auto 
    transition duration-300 ease-in-out;
  }

  .content-container {
    @apply flex flex-col
    bg-gray-300 dark:bg-vvprimary-blend
    m-0
    h-full w-full
    overflow-hidden;
  }

  .media-content {
    @apply grid place-items-center h-full /* */
      m-5 overflow-y-auto rounded-2xl;
  }

  .media-content::-webkit-scrollbar {
    display: none;
  }
  
  /* Border radius can be applied to parent, so no functionality */
  /* .frame-content {
    @apply rounded-2xl;
  } */

}
